* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.app-container {
  min-height: 100vh;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}